.modalContent {
    background-color: white;
    padding: 20px;
    border-radius: 28px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 810px;
    max-width: 100%;
    margin: auto;
}

.modalHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.modalTitle {
    font-size: 1.5em;
}

.modalClose {
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
}

.modalBody {
    display: flex;
    gap: 15px;
}

.formContainer {
    display: flex;
    flex-direction: column;
    padding-right: 20px;
    gap: 15px;
}

.calendarContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.datePickerWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalFooter {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 30px;
    width: 100%;
}

.datePicker {
    width: 100%;
}

.react-datepicker {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

.react-datepicker__header {
    background-color: #f0f0f0;
    border-bottom: 1px solid #ccc;
}

.react-datepicker__current-month {
    font-weight: bold;
}

.react-datepicker__day--selected {
    background-color: #40BA21;
    color: white;
}

.react-datepicker__day--keyboard-selected {
    background-color: #40BA21;
    color: white;
}

.input, .textarea, .button {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
}



.button {
    background-color: #40BA21;
    color: white;
    cursor: pointer;
    border-radius: 100px;
}
